<template>
  <!--****************** start Navbar ************************** -->
  <NavbarTop />
  <!--****************** end Navbar ************************** -->
  <div class="whatsapp">
    <a
      
      href="https://api.whatsapp.com/send?phone=237698560149"
      target=" blanck "
    >
      <img src="/assets/icons8-whatsapp.png" alt="" />
    </a>
    <a
      
      href="https://web.whatsapp.com/send?phone=237698560149"
      target=" blanck "
    >
      <img src="/assets/icons8-whatsapp.png" alt="" />
    </a>
  </div>
  <router-view />
  <!--****************** start Footer ************************** -->
  <FooterBottom />
  <!--****************** end Footer ************************** -->
</template>
<script>
import NavbarTop from "/src/components/layout/NavbarTop.vue";
import FooterBottom from "/src/components/layout/FooterBottom.vue";
export default {
  components: {
    NavbarTop,
    FooterBottom,
  },
  mounted() {
    setTimeout(() => {
      this.$loadScript("https://code.jquery.com/jquery-3.4.1.min.js");
      this.$loadScript(
        "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      );
      this.$loadScript("/public/assets/lib/wow/wow.min.js");
      this.$loadScript("/public/assets/lib/easing/easing.min.js");
      this.$loadScript("/public/assets/lib/waypoints/waypoints.min.js");
      this.$loadScript("/public/assets/lib/counterup/counterup.min.js");
      this.$loadScript("/public/assets/lib/owlcarousel/owl.carousel.min.js");
      this.$loadScript("/public/assets/js/main.js");
    }, 1000);
  },
};
</script>

<style scoped>

.whatsapp{
  position: fixed;
  z-index: 1000;
  bottom: 6rem;
  right: 2rem;
  
}

.whatsapp a img{
  height: 60px;
}

.whatsapp a:nth-child(1){
    /* visibility: hidden; */
    display: block;
  }
  .whatsapp a:nth-child(2){
    /* visibility: hidden; */
    display: none;
  }
@media (min-width: 576px) { 
  .whatsapp a:nth-child(1){
    /* visibility: hidden; */
    display: none;
  }
  .whatsapp a:nth-child(2){
    /* visibility: hidden; */
    display: block;
  }
}



</style>
